<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(a,index) in arr">
                {{index+1}}.{{a.name}}
                <ul>
                    <li v-for="(b,index) in a.color">{{index+1}}.{{b}}</li>
                </ul>
            </li>
        </ul>
    </div>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script>
        let vm = new Vue({
            el:"#app",
            data:{
                arr:[{name:"苹果",color:["green","red"]},{name:"香蕉",color:["yellow","green"]},{name:"西瓜",color:["red","white"]}]
            }
        })
    </script>
</body>
</html>