.main-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-left: 0.08rem;
  box-sizing: border-box;
  height: 0.9rem;
  font-size: 0.28rem;
  background: #FFF;
  overflow: hidden;
  z-index: 999;
}
.main-header .logo-box img {
  width: 1.56rem;
  height: 0.68rem;
}
.main-header .search-box {
  cursor: pointer;
  background: rgba(244, 244, 244);
  height: 0.56rem;
  flex-direction: row;
}
.main-header .search-box img {
  position: relative;
  width: 0.3rem;
  height: 0.3rem;
  top: 0.05rem;
  left: 0.15rem;
}
.main-header .search-box span {
  margin-left: 0.3rem;
  line-height: 0.56rem;
  color: rgba(204, 204, 204);
}
.main-header .msg-box .msg {
  width: 0.76rem;
  height: 0.76rem;
  background: url("https://static.home.mi.com/youpin/static/m/res/images/std_titlebar_home_message.png");
  background-size: contain;
  background-position: -0.1rem 0;
  margin-left: 0.3rem;
}
