.link-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    height:1.5rem;
    background: #FFF;
    .react-view{
        width:1.6rem;
        height:100%;
        flex:1;
        img{
            width:100%;
            height:100%;
        }
    }
}