.link-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 1.5rem;
  background: #FFF;
}
.link-box .react-view {
  width: 1.6rem;
  height: 100%;
  flex: 1;
}
.link-box .react-view img {
  width: 100%;
  height: 100%;
}
