.title-box {
  display: flex;
  flex-direction: row;
  background: #FFF;
  height: 0.94rem;
  margin-top: 0.1rem;
  align-items: center;
  padding-left: 0.18rem;
  padding-right: 0.26rem;
}
.title-box span {
  flex: 1;
  font-size: 0.3rem;
  color: #333333;
}
.title-box a {
  display: block;
  height: 0.94rem;
  line-height: 0.94rem;
  font-size: 0;
}
.title-box a span {
  font-size: 0.28rem;
  color: #999999;
}
.title-box a img {
  width: 0.1rem;
  height: 0.2rem;
  margin-top: -0.1rem;
}
