html,
body {
	height: 100%;
	overflow: hidden;
}

body {
	font-size: 14px;
	background: url('../images/login_bg.jpg') repeat-x;
	background-size: 100% 50%;
}

/* ==FOOTER== */
.footerBox {
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	line-height: 50px;
	text-align: center;
	color: #999;
}

.footerBox span {
	padding: 0 10px;
}

/* ==MAIN== */
.mainBox {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -60%);
	width: 400px;
}

.mainBox .title,
.mainBox .tip {
	font-size: 30px;
	line-height: 50px;
	text-align: center;
	color: #FFF;
	font-weight: normal;
}

.mainBox .tip {
	font-size: 18px;
	color: #BEBEBF;
}

.loginBox {
	box-sizing: border-box;
	margin-top: 20px;
	padding: 25px;
	background: #FFF;
	border: 1px solid #F4F4F4;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, .3);
}

.loginBox .form {
	position: relative;
	margin: 10px 0;
}

.loginBox .form input {
	box-sizing: border-box;
	padding-left: 40px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	border: 1px solid #AAA;
}

.loginBox .form i {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
}

.loginBox .form i.icon-mima {
	left: 7px;
	font-size: 26px;
}

.loginBox .submit {
	box-sizing: border-box;
	margin: 10px 0;
	width: 100%;
	height: 48px;
	line-height: 48px;
	text-align: center;
	font-size: 18px;
	color: #FFF;
	background: #2299EE;
	border: none;
	border-radius: 2px;
	cursor: pointer;
}